{% extends "base.html" %} 


{% block title %}Forgot Password{% endblock %} 

{% load static %}

{% block body %}

<!-- Modal Structure -->
<div id="forgotPasswordModal" class="modal">
  <link rel="stylesheet" href="{% static 'css/login-register.css' %}" />
  <div class="auth-card">
    <h2>Set a new password</h2>
    <p>
      Don't worry! We can help you safely retrieve your account information.
      Enter your account email address, and we’ll email you a link to set a new
      password.
    </p>
      <form id="forgotPasswordForm" method="post" action="{% url 'account_reset_password' %}">

      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="email@address.com"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary">
        Send link
      </button>
    </form>
    <button class="close-modal">Close</button>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}
