{% extends "base.html" %}

{% block title %}HealMount - Medical Tourism Platform{% endblock %} 

{% block main %}
{% load static %}
  <!-- Services Section -->
  <section id="services" class="services my-5">
    <div class="container">
      <h2 class="text-center">Our Services</h2>
      <p class="text-center">
        We provide to you the best choiches for you. Adjust it to your
        health needs and make sure your undergo treatment <br />
        with our highly qualified doctors you can consult with us which type
        of service is suitable for your health.
      </p>

      <div class="services-list">
        <!-- Service 1 -->
        <button class="service-button" id="plasticSurgeryButton">
          <img
            src="{% static 'images/Plastic-surgery.png' %}"
            alt="Plastic-surgery"
            class="plastic-surgery-icon"
          />
          <h3>Plastic Surgery</h3>
          <p>
            Get professional plastic surgery in Armenia <br />
            at affordable prices with experienced surgeons <br />
            and modern clinics.
          </p>
        </button>

        <!-- Service 3 -->
        <button class="service-button" id="dentistry">
          <img
            src="{% static 'images/Dentistry.png' %}"
            alt="Dentistry"
            class="dentistry-icon"
          />
          <h3>Dentistry</h3>
          <p>
            Receive high-quality dental care in Armenia with experienced
            dentists and<br />
            advanced technology at great prices.
          </p>
        </button>

        <!-- Service 4 -->
        <button class="service-button" id="clinics">
          <img
            src="{% static 'images/Clinics.png' %}"
            alt="Clinics"
            class="clinics-icon"
          />
          <h3>Clinics</h3>
          <p>Choose a hospital from <br />thousands of trusted clinics.</p>
        </button>

        <!-- Service 5 -->
        <button class="service-button">
          <img
            src="{% static 'images/Consultation.png' %}"
            alt="Tracking"
            class="consultation-icon"
          />
          <h3>Consultation</h3>
          <p>
            Access professional medical consultations <br />
            in Armenia from experienced specialists,<br />
            both in-person and online.
          </p>
        </button>
      </div>
    </div>
  </section>

  <!-- Armenia Section -->
  <section id="armenia" class="armenia d-flex align-items-center">
    <div class="container">
      <div class="row align-items-center">
        <!-- Left Side: Text Content -->
        <div class="col-md-6">
          <h2 class="armenia-title">
            Why to choose Armenia for <br />
            medical tourism?
          </h2>
          <p class="armenia-description">
            Dental and plastic surgery centers in Armenia are widely <br />
            known for their high quality of services and affordable prices.
            They offer <br />
            a full range of dental services including therapeutic dentistry,
            orthodontics,<br />
            implants, prosthetics and aesthetic dentistry.
          </p>
          <button id="loginButton" class="btn btn-primary me-2">
            Learn more
          </button>
        </div>

        <!-- Right Side: Image -->
        <div class="col-md-6 text-center">
          <img
            src="{% static 'images/armenia.cms' %}"
            alt="Armenia Image"
            class="img-fluid armenia-image"
          />
        </div>
      </div>
    </div>
  </section>

  <section id="latest-news" class="latest-news my-5">
    <div class="container">
      <h2 class="text-center mb-4">Latest News</h2>
      <div class="row">
        <!-- News Item 1 -->
        <button class="news-card col-md-4 mb-4">
          <img
            src="{% static 'images/news-image1.png.webp' %}"
            alt="News 1"
            class="news-image"
          />
          <div class="news-content">
            <h3>DRIVING HEALTHCARE REFORM AND DIGITAL...</h3>
            <p>
              Vickino is supporting the healthcare ecosystem of Armenia in
              the digital transformation of health services...
            </p>
            <div class="news-footer">
              <span class="news-date">29.10.2024</span>
              <a
                href="https://vickino.com/driving-healthcare-reform-and-digital-transformation-in-armenia/"
                class="news-link"
                >Learn More <span>&#9654;</span></a
              >
            </div>
          </div>
        </button>

        <!-- News Item 2 -->
        <button class="news-card col-md-4 mb-4">
          <img
            src="{% static 'images/news-image2.jpg.webp' %}"
            alt="News 2"
            class="news-image"
          />
          <div class="news-content">
            <h3>MEETING WITH NUBAR AFEYAN: GLOBAL...</h3>
            <p>
              We had the privilege of meeting with Noubar Afeyan, co-founder
              of Moderna and Flagship Pioneering...
            </p>
            <div class="news-footer">
              <span class="news-date">25.10.2024</span>
              <a
                href="https://vickino.com/advising-kidguru-to-enhance-parenting-and-childcare/"
                class="news-link"
                >Learn More <span>&#9654;</span></a
              >
            </div>
          </div>
        </button>

        <!-- News Item 3 -->
        <button class="news-card col-md-4 mb-4">
          <img
            src="{% static 'images/news-image3.jpg.webp' %}"
            alt="News 3"
            class="news-image"
          />
          <div class="news-content">
            <h3>ADVISING KIDGURU TO ENHANCE PARENTING AN...</h3>
            <p>
              Vickino is honored to be the advisory partner of Kidguru, a
              promising healthcare startup emerging from Armenia...
            </p>
            <div class="news-footer">
              <span class="news-date">22.10.2024</span>
              <a
                href="https://vickino.com/meeting-with-noubar-afeyan-global-health-innovator/"
                class="news-link"
                >Learn More <span>&#9654;</span></a
              >
            </div>
          </div>
        </button>
      </div>

      <div class="text-center mt-4">
        <a
          href="https://vickino.com/insights/"
          class="btn btn-primary news-more-button"
          >Access more news</a
        >
      </div>
    </div>
  </section>

  <section id="articles" class="article my-5">
    <div class="article-backgroound">
      <div class="container">
        <div class="row align-items-center">
          <!-- Section Heading -->
          <h2 class="text-center mb-4">Check out our latest articles</h2>

          <!-- Article Cards -->
          <div class="row align-items-center">
            <!-- Article Card 1 -->
            <div class="article-card col-md-4 mb-4">
              <img
                src="{% static 'images/article-image1.webp' %}"
                alt="Article 1"
                class="article-image"
              />
              <div class="article-content">
                <h3>Telemedicine networks for acute stroke: an...</h3>
                <p>
                  Telemedicine networks for acute stroke: an analysis of
                  global coverage, gaps and opportunities...
                </p>
                <div class="article-footer">
                  <a
                    href="https://vickino.com/publication/telemedicine-networks-for-acute-stroke-an-analysis-of-global-coverage-gaps-and-opportunities/"
                    class="article-link"
                    >Learn More <span>&#9654;</span></a
                  >
                </div>
              </div>
            </div>

            <!-- Article Card 2 -->
            <div class="article-card col-md-4 mb-4">
              <img
                src="{% static 'images/article-image2.jpg.webp' %}"
                alt="Article 2"
                class="article-image"
              />
              <div class="article-content">
                <h3>Transforming Virtual Healthcare: The...</h3>
                <p>
                  Main results The introduction of OpenAI’s ChatGPT-4omni
                  (GPT-4o) represents a potential advancement in virtual
                  healthcare and teleme...
                </p>
                <div class="article-footer">
                  <a
                    href="https://vickino.com/publication/transforming-virtual-healthcare-the-potentials-of-chatgpt-4omni-in-telemedicine/"
                    class="article-link"
                    >Learn More <span>&#9654;</span></a
                  >
                </div>
              </div>
            </div>

            <!-- Article Card 3 -->
            <div class="article-card col-md-4 mb-4">
              <img
                src="{% static 'images/article-image3.webp' %}"
                alt="Article 3"
                class="article-image"
              />
              <div class="article-content">
                <h3>Telemedicine is now legal in Armenia, how to...</h3>
                <p>
                  Main results Armenia’s early adoption of telemedicine
                  began with the National Aeronautics and Space
                  Administration (NASA) collaborat...
                </p>
                <div class="article-footer">
                  <a
                    href="https://vickino.com/publication/telemedicine-is-now-legal-in-armenia-how-to-make-it-a-routine-clinical-practice/"
                    class="article-link"
                    >Learn More <span>&#9654;</span></a
                  >
                </div>
              </div>
            </div>
          </div>

          <!-- More Articles Button -->
          <div class="text-center mt-4">
            <a
              href="https://vickino.com/insights/"
              class="btn btn-primary article-more-button"
              >Access More Articles</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="contact-section">
    <div class="contact-background">
      <div class="container">
        <div class="row align-items-center">
          <!-- Left Text Section -->
          <div class="col-md-6 text-left">
            <h2 class="contact-heading">SPEAK WITH OUR EXPERTS</h2>
            <p>
              Contact us to understand how we can support your health
              innovation needs.
            </p>
            <a href="#" class="btn btn-primary schedule-call-button"
              >Schedule a free call now</a
            >

            <!-- Contact Details -->
            <div class="contact-details mt-4">
              <h5>Contact us</h5>
              <p><strong>Email:</strong> contact@healmount.com</p>
              <p><strong>Phone:</strong> +374 44 43 48 41</p>
              <a
                href="https://www.linkedin.com/company/vickino"
                target="_blank"
                class="linkedin-link"
              >
                <i class="fab fa-linkedin"></i> Follow us on LinkedIn
              </a>
            </div>
          </div>

          <!-- Right Column for Form -->
          <div class="col-md-6">
            <div class="contact-form-wrapper">
              <h2 class="form-title">SEND US A MESSAGE</h2>
              <form>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    required
                  />
                </div>
                <div class="form-group">
                  <textarea
                    class="form-control"
                    rows="4"
                    placeholder="Your message"
                    required
                  ></textarea>
                </div>
                <button
                  type="submit"
                  class="btn btn-primary send-message-button"
                >
                  Send now
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %} 

{% block scripts %}
<script>
  // Redirect to new pages when buttons are clicked
  document
    .getElementById("loginButton")
    .addEventListener("click", function () {
      window.location.href = "{% url 'account_login' %}";
    });

  document
    .getElementById("registerButton")
    .addEventListener("click", function () {
      window.location.href = "{% url 'account_signup' %}"; // Redirect to register page
    });
</script>

<!-- for plastic surgery button-->
<script>
  document
    .getElementById("plasticSurgeryButton")
    .addEventListener("click", function () {
      window.location.href = "plastic-surgery.html"; // Redirects to the plastic-surgery page
    });
</script>

<script>
  document
    .getElementById("dentistry")
    .addEventListener("click", function () {
      window.location.href = "dentistry.html"; // Redirects to the plastic-surgery page
    });
</script>

<script>
  document.getElementById("clinics").addEventListener("click", function () {
    window.location.href = "clinics.html"; // Redirects to the plastic-surgery page
  });
</script>
<script src="{% static 'js/script.js' %}" />
{% endblock %} 