{% extends "base.html" %}

{% load static %}

{% block title %}HealMount - Medical Tourism Platform{% endblock %}

{% block body %}

<main>
    <link rel="stylesheet" href="{% static 'css/text.css' %}" />
    <section class="service-section my-5">
      <div class="container">
        <h1 class="service-title">Abdominoplasty</h1>
        <div class="custom-divider"></div>
        <div class="service-content">
          <div class="service-image"></div>
          <div class="service-description">
            <h2>General information</h2>
            <p>
              Abdominoplasty is one of the most popular plastic surgeries in
              the world. Are you a happy mother of two children, who finally
              returned to her normal weight? And the only problem is sagging
              skin in abdominal area and flaccid abdominal wall? You want to
              have a flat tummy and to get rid of the “apron” hanging down
              there? Yet, neither diets not exercises with expensive fitness
              equipment help you to achieve desired result, or you have
              absolutely time for that? Then, Abdominoplasty is the right
              choice for you. Abdominoplasty is a surgery, which is directed
              at recovery of abdominal wall tonus, removal of excess sagging
              skin and fat tissue. It allows getting tight and flat tummy,
              which underlines your sexuality. In 2018 in the USA 175000
              abdominoplasty surgeries were carried out, being one of the five
              most popular surgeries.
            </p>
            <h2>Abdominoplasty techniques</h2>
            <p>
              Abdominoplasty usually is carried out under general anesthesia
              e.g. narcosis. Apart from that, in some cases it may be carried
              out under local anesthesia, combined with sedation. In such case
              you remain conscious and may experience certain discomfort.
              Abdominoplasty at the average lasts from 2 to 5 hours. Usually
              abdominoplasty commences with a long transverse incision from
              hip to hip. Generally the incision goes over the bikini line and
              reminds a wide smile. This incision goes just above the pubic
              area and its ends reach upper parts of hips. Another incision is
              made around the belly button in order to free it from the
              abdominal tissue. Skin is detached from the abdominal wall, up
              to the level of hips, revealing the abdominal rectus muscle. As
              a rule, this muscle is stretched and flaccid after pregnancy and
              labor. That is the reason, why abdominal wall is sagging. These
              muscles are then tightened, the abdominal wall becomes firmer
              and the waistline narrower. After the muscle uplift the excess
              skin is stretched and cut. Finally, the incision is sewn back
              together. The surgeon then cuts a new place for a navel and
              stitches it in place.
            </p>
            <h2>Pre-surgical preparation</h2>
            <p>
              The first step towards your flat tummy is to consult with your
              plastic surgeon. The doctor must evaluate your condition and
              decide, whether abdominoplasty suits you or not. Firstly, the
              doctor shall interviews the patient to collect a detailed
              anamnesis. He will ask about diseases, the patient had in the
              past, surgeries undergone, allergies to medication, as well as
              about chronic conditions and medication being taken at the
              moment. Further, a so called physical examination is carried out
              and the doctor estimates amount of excess skin and fat tissue in
              the abdominal wall. The doctor shall observe your tummy in
              standing and lying position, and shall estimate the level of its
              sagging. Apart from that, prior to the surgery pictures of the
              tummy are taken, so, that you can assess the result afterwards
              and compare it with what it looked like before. Besides, during
              consultations with your surgeon you must discuss with your
              surgeon your expectations from the surgery and what you can
              actually expect. ПSeveral examinations are carried out prior to
              the surgery, such as general blood analysis, common urine
              analysis, biochemical blood assay, ECG. Two weeks before the
              abdominoplasty you will have to stop taking certain medication –
              nonsteroidal anti-inflammatory drug and anticoagulating agents
              (blood thinners), as they can cause excess bleeding both during
              the surgery and after it. Make sure to inform your doctor about
              all medications you are taking. However, you must not stop
              taking those without telling your doctor first! It is also
              vitally important to quit smoking a month prior to the surgery
              (the earlier, the better, in fact!) and to abstain from it for
              the entire period of healing. The thing is, that smoking
              deteriorates healing process by damaging blood microcirculation.
              If you cannot do without smoking, you’ll have to shift to other
              means of nicotine consumption for some time (nicotine patches,
              chewing gums, etc.).
            </p>
            <h2>
              Abdominoplasty does not suit all those who want to have one
            </h2>
            <p>
              The ideal candidate for abdominoplasty must be in satisfactory
              state. It is indicated for patients with sagging skin on the on
              the abdominal wall due to pregnancies and labors after
              liposuction and abrupt loss of weight. Usually patients, who go
              for liposuction in the abdominal area, undergo abdominoplasty
              simultaneously, as without it there will be the result of
              natural aging process, when muscles and skin loose elasticity
              and tonus. Apart from that, it is important that you expect
              realistic results from abdominoplasty as opposite to fantastic
              changes. Indeed, the surgery can return your good-looking flat
              tummy and thin, graceful waistline but you will still be you!
              You won’t become younger, you shall simply look much better.
              Furthermore, no plastic surgeon can guarantee you to have an
              ideal body. After abdominoplasty a long scar remains in the
              lower part of the abdomen, immediately above the pubic area. But
              there is no need to worry. Usually the surgeon makes it fall
              into the natural fold and where it is usually covered by
              clothes. Usually plastic surgeons have pictures of previous
              patients before and after the surgery, so you can take a look
              and understand what can be expected of abdominoplasty.
            </p>
            <h2>Cases, when abdominoplasty is not recommended</h2>
            <p>
              First of all, it is not recommended to undergo abdominoplasty
              for women, who plan to have one or more babies in the future.
              Why? Because in that case the entire effect of the surgery will
              be lost ad you shall have a stretched abdomen again. As a
              result, you will have wasted the money and recurrent surgery may
              not be as efficient as the initial one. Besides that,
              abdominoplasty is not carried out for women, who have certain
              chronic diseases, which may cause complications.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="contact-section">
      <div class="contact-background">
        <div class="container">
          <div class="row align-items-center">
            <!-- Left Text Section -->
            <div class="col-md-6 text-left">
              <h2 class="contact-heading">SPEAK WITH OUR EXPERTS</h2>
              <p>Book your consultation now.</p>
              <a href="#" class="btn btn-primary schedule-call-button"
                >Schedule a free call now</a
              >

              <!-- Contact Details -->
              <div class="contact-details mt-4">
                <h5>Contact us</h5>
                <p><strong>Email:</strong> contact@healmount.com</p>
                <p><strong>Phone:</strong> +374 44 43 48 41</p>
                <a
                  href="https://www.linkedin.com/company/vickino"
                  target="_blank"
                  class="linkedin-link"
                >
                  <i class="fab fa-linkedin"></i> Follow us on LinkedIn
                </a>
              </div>
            </div>

            <!-- Right Column for Form -->
            <div class="col-md-6">
              <div class="contact-form-wrapper">
                <h2 class="form-title">SEND US A MESSAGE</h2>
                <form>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      rows="4"
                      placeholder="Your message"
                      required
                    ></textarea>
                  </div>
                  <button
                    type="submit"
                    class="btn btn-primary send-message-button"
                  >
                    Send now
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock %}
