{% extends "base.html" %}

{% load static %}

{% block title %}HealMount - Medical Tourism Platform{% endblock %}

{% block body %}

<main>
    <link rel="stylesheet" href="{% static 'css/text.css' %}" />
    <section class="service-section my-5">
        <div class="container">
          <h1 class="service-title">Lipofilling</h1>
          <div class="custom-divider"></div>
          <div class="service-content">
            <div class="service-image"></div>
            <div class="service-description">
              <h2>General information</h2>
              <p>
                Lipofilling is a technique during which the patient's own fat is
                removed by liposuction and then injected into the other areas of
                body. The procedure is performed for aesthetic purposes.
                Lipofilling promotes the soft tissue regeneration in the body
                parts (e.g. facial, dorsal surface of the hands, neck) where the
                procedure is performed. Lipofilling can be performed using
                various methods. The procedure consists of two important
                surgeries. First, contour correction is performed by liposuction
                procedure during which excess fat deposits are removed from
                body. Then during the second phases of the surgical procedure
                the patient's fatty tissue is used to treat other areas in his
                body where it is needed. As a result of lipofilling, mesenchymal
                stem cells (MSC) promote tissue regeneration. They act as
                catalysts. Fatty tissue yields 20-50 times greater number of
                MSCs than bone marrow. The Clinic applies the American GID
                system, during which liposuction procedure is performed with the
                use of special containers. The volume of fat is collected in the
                first container whereas the fat cells that need to undergo
                filtration are stored in the second container. The application
                of complex method yields a 20-30 ml of fluid which contains
                mesenchymal stem cells. During the next phase fat tissues that
                will be used to increase volume are enriched with mesenchymal
                stem cells. This procedure promotes the restoration and
                vascularization of fat tissues, and in general those cells
                become more resistant to ishcemia. Currently great efforts are
                underway to use fat cells derived stromal vascular fraction for
                joints and cartilage restoration. After a year, it will be a
                reality for the Clinic to perform surgeries with the use of this
                technique.
              </p>
              <h2>What can you expect after the lipofilling procedure?</h2>
              <p>
                You will be discharged home on the same day of the procedure,
                and our team will organise a follow-up appointment in 10-14
                days. The recipient area will be bruised for a few days. The
                volume transferred to the recipient area will sightly decrease
                with time due to reabsorption; that’s why this procedure needs
                to be repeated to achieve larger volume lipofilling. The donor
                site may also develop some bruising. We recommend wearing
                abdominal garments or compression stockinets to help with pain
                and reduce the chance of bleeding and bruising. Patients usually
                resume normal activity in one to two weeks.
              </p>
              <h2>Procedure and the method</h2>
              <p>
                The fat is harvested from the excess fat areas. After that the
                fat cells are injected into deficient area. The procedure itself
                does not need a surgical intervention as well as visible scars
                are not left after the treatment. Fat cells collection is
                performed through small incisions in the areas of fat harvesting
                such as: belly, hips, and buttocks.patients are often afraid of
                the fact that they do not have enough fat to get the desired
                result, but according to our experience even thin people have
                enough fat cells for transplantation. Lipofilling is often
                combined with liposuction, it helps to achieve an excellent
                aesthetic outcome and helps to improve patients’ figure. The fat
                is harvested with a special cannula that prevents the damage of
                overlying tisuues and fat cells. Then the fat is filtered. After
                filtering, the fat cells are injected into the deficient area.
                Transplated fat cells are combined with a blood flow in order to
                get oxygen and nutritions through it. New shape will be safed
                for a long time. the use of patients’ own fat exclude the
                allergy.
              </p>
              <h2>
                Abdominoplasty does not suit all those who want to have one
              </h2>
              <p>
                The ideal candidate for abdominoplasty must be in satisfactory
                state. It is indicated for patients with sagging skin on the on
                the abdominal wall due to pregnancies and labors after
                liposuction and abrupt loss of weight. Usually patients, who go
                for liposuction in the abdominal area, undergo abdominoplasty
                simultaneously, as without it there will be the result of
                natural aging process, when muscles and skin loose elasticity
                and tonus. Apart from that, it is important that you expect
                realistic results from abdominoplasty as opposite to fantastic
                changes. Indeed, the surgery can return your good-looking flat
                tummy and thin, graceful waistline but you will still be you!
                You won’t become younger, you shall simply look much better.
                Furthermore, no plastic surgeon can guarantee you to have an
                ideal body. After abdominoplasty a long scar remains in the
                lower part of the abdomen, immediately above the pubic area. But
                there is no need to worry. Usually the surgeon makes it fall
                into the natural fold and where it is usually covered by
                clothes. Usually plastic surgeons have pictures of previous
                patients before and after the surgery, so you can take a look
                and understand what can be expected of abdominoplasty.
              </p>
              <h2>Post-operative period</h2>
              <p>
                Lipofilling is considered to be as a less traumatic procedure.
                As lipofilling procedure does not need any post treatment, there
                is no need to stay in a hospital. Most of patients go home at
                the same day. Swelling can be experienced after the procedure,
                but it disappears in 6-7 days. Most of our patients turn to
                everyday life within 3-5 days after the treatment. In case of
                fat transplantation only 60-70% of transplanted fat cells are
                viable as a result more fat is transplanted than is needed. The
                final result of the lipoffiling will be noticed in 4-5 months
                after the procedure has been performed.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="contact-section">
        <div class="contact-background">
          <div class="container">
            <div class="row align-items-center">
              <!-- Left Text Section -->
              <div class="col-md-6 text-left">
                <h2 class="contact-heading">SPEAK WITH OUR EXPERTS</h2>
                <p>Book your consultation now.</p>
                <a href="#" class="btn btn-primary schedule-call-button"
                  >Schedule a free call now</a
                >

                <!-- Contact Details -->
                <div class="contact-details mt-4">
                  <h5>Contact us</h5>
                  <p><strong>Email:</strong> contact@healmount.com</p>
                  <p><strong>Phone:</strong> +374 44 43 48 41</p>
                  <a
                    href="https://www.linkedin.com/company/vickino"
                    target="_blank"
                    class="linkedin-link"
                  >
                    <i class="fab fa-linkedin"></i> Follow us on LinkedIn
                  </a>
                </div>
              </div>

              <!-- Right Column for Form -->
              <div class="col-md-6">
                <div class="contact-form-wrapper">
                  <h2 class="form-title">SEND US A MESSAGE</h2>
                  <form>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Name"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Email"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <textarea
                        class="form-control"
                        rows="4"
                        placeholder="Your message"
                        required
                      ></textarea>
                    </div>
                    <button
                      type="submit"
                      class="btn btn-primary send-message-button"
                    >
                      Send now
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>


{% endblock %}
