{% extends "base.html" %}

{% load static %}

{% block title %}HealMount - Medical Tourism Platform{% endblock %}

{% block body %}

<main>
    <link rel="stylesheet" href="{% static 'css/text.css' %}" />
    <section class="service-section my-5">
        <div class="container">
          <h1 class="service-title">Mamoplasty</h1>
          <div class="custom-divider"></div>
          <div class="service-content">
            <div class="service-image"></div>
            <div class="service-description">
              <h2>General information</h2>
              <p>
                Tender skin of breasts in time over-stretches and gradually loses its elasticity. This has adverse effect for shape and look of the breast. Pregnancy and breastfeeding, lifestyle and food also leave their negative trace. Even commitment to certain type of clothes and smoking may cause reduction of breast (its “sagging”) and to have negative effect on its elasticity. If this is the case, your choice shall be mammoplasty and its most common type – breast augmentation. 

                Plastic surgery (lifting) is recommended to patients with nipples and areolas located on the lower breast line and pointing down. It is with mentioning, that patients with large breast also may carry out rejuvenating uplift, yet, they need to take into consideration, that the results of such procedure will remain in effect for a shorter period, then in case of small or medium breast. Breast uplift, plastic surgery and augmentation are methods to change shape or size of breast with application of surgical intervention. It has to be noted, that today breast augmentation is one of the most required types of plastic surgeries.
              </p>
              <h2>5 Types of Breast Implants</h2>
              <>
                Surgery always has some risks. Therefore, it is necessary to carefully choose the appropriate clinic and specialist during preparation. How breast plastic surgery is performed depends on one or another aesthetic problem that is required to be solved. Thus, there are mainly the following types of mammoplasty:<br/>
                1.    Breast augmentation<br/>
                2.    Breast reduction (breast reduction)<br/>
                3.    Breast lift (mastopexy)<br/>
                4.    Reconstructive mammoplasty<br/>
                5.    Correction of the tip-areola complex
              </p>
              <h2>Pre-surgical preparation</h2>
              <p>
                At the first consultation, the doctor-surgeon answers all the patient's questions in detail, talks about the expected results and warns about possible complications. Before breast plastic surgery, it is required:
                <br/>
•    give a number of analyzes (blood from a finger, biochemistry, correlogram, AIDS, hepatitis, etc.);<br/>
•    undergo medical procedures (fluorography, USM, ECG);<br/>
•    consultation with relevant field specialists (therapist, gynecologist, mammologist).<br/>
•    A few days before the appointed time, it is recommended to keep a light diet, to give up alcohol and smoking.

              </p>
              <h2>Rehabilitation period</h2>
              <p>
                It is required to approach the end stage after the operation with all seriousness, properly following the recommendations of the specialist, coming to the examination on time, and taking the prescribed medicines. It usually takes about 6-9 months for the chest to take its full shape.
In order to avoid complications and possible complications, it is required:

Clean them with an antiseptic until they are removed or absorbed;
1-2 months to wear special compression underwear that keeps the chest in the right position and does not allow the implants to interfere;
Avoid going to the bath, sauna, solarium, SPA salon, swimming pool for 4-6 weeks;
Limiting physical exertion for two months. It is not recommended to raise the arms for the first few days.

Unpleasant side effects such as pain, swelling, and stiffness can be observed at first after breast plastic surgery. Following all the recommendations of the surgeon, these factors will disappear.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="contact-section">
        <div class="contact-background">
          <div class="container">
            <div class="row align-items-center">
              <!-- Left Text Section -->
              <div class="col-md-6 text-left">
                <h2 class="contact-heading">SPEAK WITH OUR EXPERTS</h2>
                <p>Book your consultation now.</p>
                <a href="#" class="btn btn-primary schedule-call-button"
                  >Schedule a free call now</a
                >

                <!-- Contact Details -->
                <div class="contact-details mt-4">
                  <h5>Contact us</h5>
                  <p><strong>Email:</strong> contact@healmount.com</p>
                  <p><strong>Phone:</strong> +374 44 43 48 41</p>
                  <a
                    href="https://www.linkedin.com/company/vickino"
                    target="_blank"
                    class="linkedin-link"
                  >
                    <i class="fab fa-linkedin"></i> Follow us on LinkedIn
                  </a>
                </div>
              </div>

              <!-- Right Column for Form -->
              <div class="col-md-6">
                <div class="contact-form-wrapper">
                  <h2 class="form-title">SEND US A MESSAGE</h2>
                  <form>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Name"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Email"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <textarea
                        class="form-control"
                        rows="4"
                        placeholder="Your message"
                        required
                      ></textarea>
                    </div>
                    <button
                      type="submit"
                      class="btn btn-primary send-message-button"
                    >
                      Send now
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>


{% endblock %}
