{% extends "base.html" %}

{% load static %}

{% block title %}HealMount - Medical Tourism Platform{% endblock %}

{% block body %}

<main>
    <link rel="stylesheet" href="{% static 'css/text.css' %}" />
    <section class="service-section my-5">
      <div class="container">
        <h1 class="service-title">Rhinoplasty</h1>
        <div class="custom-divider"></div>
        <div class="service-content">
          <div class="service-image"></div>
          <div class="service-description">
            <h2>General information</h2>
            <p>
              Rhinoplasty – is the general name for all surgeries, conducted
              for recovery or correction of aesthetics and function of the
              nose. First plastic nose surgeries were carried out B.C.,
              particularly in ancient India¹. Certain technologies reached our
              days, nevertheless, the scientific progress advanced much
              further, thus today rhinoplasty surgery is developed in detail
              and thoroughly, hence being successfully applied in practice all
              over the world.
            </p>
            <h2>The best candidates for rhinoplasty</h2>
            <p>
              Nowadays rhinoplasty is indicated in the following cases:
              <br />• Humpbacked nose <br />• Curve nose<br />
              • Saddle nose<br />
              • Wide/narrow nose <br />• Asymmetric nostrils <br />• Aesthetic
              defective nose tip (wide, double, drooped, etc.) <br />•
              Post-traumatic deformations of nose (including post-surgical)<br />
              • For the purpose of restoration of function of nasal breath
              Surgery is conducted under the general anesthesia. <br />One day
              prior the operation patients are examined (blood analysis,
              electrocardiogram, X-ray of lungs), a hospital record card is
              opened. After the surgery, patient spends one night in the
              clinic, further – domiciliary². Plaster is removed on the 7th
              day. The main hypostases and hematomas disappear approximately
              in a month (it is possible to make preliminary estimation of
              surgery results). The final result is assessed one year after
              the surgery. 1 In ancient India there existed an execution of
              cutting the nose for violation of the law. In time there were
              too many people with their noses cut off, and this lead to
              ancient Indian surgeons creating a method, when with application
              of a frontal flap the lost nose is recovered. 2 For foreign
              patients luxury rooms are provided for the entire period of
              stay.
            </p>
            <h2>Instruction for patients to follow after rhinoplasty</h2>
            <p>
              А . Introduction Please read and familiarize with these
              instructions both before and after the surgery. By carefully
              following instructions, listed below, you can ensure obtaining
              the best results. If you have questions you can contact me at
              any time and discuss questions, which you are worried about.
              Bring this leaf with you to the clinic and start to follow
              instructions on the day of operation.<br />
              B. Instructions Wipe nostrils and area of seams with 3 %
              solution of peroxide of hydrogen, by wadded sticks for ears, 2-3
              times a day. <br />1. Use Otrivin nasal spray 3 times a day (7
              days).<br />
              2. Don’t blow (clean) your nose during the period of following
              these instructions. You can wipe or accurately touch your nose
              with a pure tissue, if it is necessary. <br />3. Change a
              bandage under the nose as required. <br />
              4. The plaster bandage should remain on the nose not less, than
              for a week, and it shall be removed in hospital environment. Do
              not touch plaster, hold it dry.<br />
              5. Avoid use of food which is to be chewed thoroughly. No other
              food restrictions apply.<br />
              6. Avoid excessive physical activity. Keep more tranquil rhythm
              than usually, avoid physical and sexual activity.<br />
              7. Accurately brush teeth only with a soft toothbrush. Avoid
              manipulations in an upper lip not to touch the nose.<br />
              8. Avoid long telephone conversations and active social works at
              least within 10-14 days. <br />9. You can wash your face, but be
              careful with plaster. <br />10. Try not to laugh and do not make
              extensive mimic movements within 1 week. <br />11. Do not wash
              hair within 1 week, if there is nobody to help do you it. Under
              no circumstances allow the plaster bandage to get wet! <br />12.
              Wear clothes which are easy for putting on and taking off within
              1 week. Avoid polo-necks, sweaters with narrow cuts.<br />
              13. It is absolutely counter-indicative to stay under the sun or
              artificial lamps within 6 weeks after the surgery. Heat can
              cause nose hypostasis.<br />
              14. Do not swim within 1 month. <br />15. Do not be confused if
              after removal of plaster will see that the nose, eyes and upper
              lip are edematous and reddened, it usually passes after 2-3
              weeks. Some patients may need 6 months for full recovery from
              hypostasis. <br />16. Take only the medicine which was
              prescribed by your doctor.<br />
              17. Do not carry optical or sun-glasses which press the nasal
              dorsum for not less, than 4 weeks. We will instruct you how to
              fix glasses on your forehead, so, that they do not press the
              nasal dorsum. <br />18. Contact lenses can be used 3-4 days
              after the surgery.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="contact-section">
      <div class="contact-background">
        <div class="container">
          <div class="row align-items-center">
            <!-- Left Text Section -->
            <div class="col-md-6 text-left">
              <h2 class="contact-heading">SPEAK WITH OUR EXPERTS</h2>
              <p>Book your consultation now.</p>
              <a href="#" class="btn btn-primary schedule-call-button"
                >Schedule a free call now</a
              >

              <!-- Contact Details -->
              <div class="contact-details mt-4">
                <h5>Contact us</h5>
                <p><strong>Email:</strong> contact@healmount.com</p>
                <p><strong>Phone:</strong> +374 44 43 48 41</p>
                <a
                  href="https://www.linkedin.com/company/vickino"
                  target="_blank"
                  class="linkedin-link"
                >
                  <i class="fab fa-linkedin"></i> Follow us on LinkedIn
                </a>
              </div>
            </div>

            <!-- Right Column for Form -->
            <div class="col-md-6">
              <div class="contact-form-wrapper">
                <h2 class="form-title">SEND US A MESSAGE</h2>
                <form>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      rows="4"
                      placeholder="Your message"
                      required
                    ></textarea>
                  </div>
                  <button
                    type="submit"
                    class="btn btn-primary send-message-button"
                  >
                    Send now
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock %}
