/* Footer */
#footer {
  background: linear-gradient(90deg, #b0c4d4, #314d6d);
  /* Linear gradient from left to right */
  padding: 2rem 0;
  color: white;
  text-align: center;
  width: 100% !important;
  margin-top: 20px !important;
  margin-bottom: 0;
}
