{% extends "base.html" %}

{% block title %}Dentists{% endblock %}

{% load static %}

{% block body %}

<main>
    <!-- Dentistry Section -->
    <section class="services my-5" style="margin-top: 120px">
        <link rel="stylesheet" href="{% static 'css/dentistry.css' %}" />
      <div class="container">
        <h2 class="text-center">Dentistry</h2>

        <div class="services-list">
          <!-- Dentistry Services -->
          <button class="service-button" data-service="Treatment">
            <img
              src="/static/images/treatment.png"
              alt="treatment"
              class="service-icon"
              style="width: 70px; height: 70px"
            />
            <h3>Teeth Treatment</h3>
            <p>
              Root Canal Treatment<br />
              Teeth restoration <br />Crowns Dental remineralization
              <br />Endodontic surgery
            </p>
          </button>

          <button class="service-button" data-service="Aesthetic ">
            <img
              src="/static/images/aesthetic-restoration.png"
              alt="aesthetic"
              class="service-icon"
              style="width: 70px; height: 70px"
            />
            <h3>Aesthetic Restoration of Teeth</h3>
            <p>
              Veneers <br />
              Crowns <br />
              Inlays & Onlays <br />Teeth whitening
            </p>
          </button>

          <button class="service-button" data-service="Missing">
            <img
              src="/static/images/missing-teeth.png"
              alt="missing teeth"
              class="service-icon"
              style="width: 60px; height: 60px"
            />
            <h3>Restoration of Missing Teeth</h3>
            <p>
              Dental Implants<br />
              Dental Bridges<br />
              Removable partial denture<br />
              Complete dentures<br />
              Maryland bridges<br />
            </p>
          </button>

          <button class="service-button" data-service="Pediatric">
            <img
              src="/static/images/pediatric.png"
              alt="pediatric
            class="
              service-icon
              style="width: 50px; height: 50px"
            />
            <h3>Pediatric Dentistry</h3>
            <p>
              Treatment of caries and its complications <br />
              Preventive dentistry
            </p>
          </button>

          <button class="service-button" data-service="Children">
            <img
              src="/static/images/children.png"
              alt="children"
              class="service-icon"
              style="width: 50px; height: 50px"
            />
            <h3>Children's dental department</h3>
            <p>
              Treatment of deciduous teeth Removal of deciduous teeth<br />
              Orthodontic treatment Caries treatment Teeth stopping
            </p>
          </button>

          <button class="service-button" data-service="Peridontology">
            <img
              src="/static/images/peridontology.png"
              alt="peridontology"
              class="service-icon"
              style="width: 50px; height: 50px"
            />
            <h3>Peridontology</h3>
            <p>
              Gingivitis treatment<br />
              Parodentium treatment <br />
              Parodentium Gingival treatment
            </p>
          </button>
        </div>
      </div>
    </section>
  </main>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/dentistry.js' %}"></script>
{% endblock %}}