{% extends "base.html" %}

{% block title %}Dentists{% endblock %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/dentistry.css' %}" />
{% endblock %}

{% block body %}

<main>
    <!-- Plastic Surgeons Section -->
    <section id="dentist" class="dentist my-5">
        <div class="container">
            <h2 class="text-center mb-4">Dentists</h2>
            <!-- Search Bar Section -->
            <section class="search-container">
                <form id="doctorSearchForm">
                    <input
                            type="text"
                            id="doctorSearch"
                            placeholder="Search for Doctors..."
                    />
                    <button type="submit" id="searchButton">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </section>

            <div class="row justify-content-center">
                <!-- Dentist Card 1 -->
                <div
                        class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center"
                >
                    <button class="dentist-card">
                        <img
                                src="/static/images/dentist1.png"
                                alt="David Hovhannisyan"
                                class="dentist-image"
                        />
                        <h3 class="dentist-name">David Hovhannisyan</h3>
                        <p class="dentist-title">
                            Founder and CEO of White Castle Dental Clinic
                        </p>
                    </button>
                </div>
                <!-- dentist Card 2 -->
                <div
                        class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center"
                >
                    <button class="dentist-card">
                        <img
                                src="/static/images/dentist2.png"
                                alt="Naira Hovhannisyan"
                                class="dentist-image"
                        />
                        <h3 class="dentist-name">Naira Hovhannisyan</h3>
                        <p class="dentist-title">General Dentist</p>
                    </button>
                </div>
                <!-- dentist Card 3 -->
                <div
                        class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center"
                >
                    <button class="dentist-card">
                        <img
                                src="/static/images/dentist3.png"
                                alt="David Yeganyan"
                                class="dentist-image"
                        />
                        <h3 class="dentist-name">David Yeganyan</h3>
                        <p class="dentist-title">General Dentist</p>
                    </button>
                </div>
                <!-- dentist Card 4 -->
                <div
                        class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center"
                >
                    <button class="dentist-card">
                        <img
                                src="/static/images/dentist4.png"
                                alt="David Grigoryan"
                                class="dentist-image"
                        />
                        <h3 class="dentist-name">David Grigoryan</h3>
                        <p class="dentist-title">Orthodontist</p>
                    </button>
                </div>
                <!-- dentist Card 5 -->
                <div
                        class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center"
                >
                    <button class="dentist-card">
                        <img
                                src="/static/images/dentist5.png"
                                alt="Anghela Papoyan"
                                class="dentist-image"
                        />
                        <h3 class="dentist-name">Anghela Papoyan</h3>
                        <p class="dentist-title">Pediatric Dentist</p>
                    </button>
                </div>
                <!-- dentist Card 6 -->
                <div
                        class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center"
                >
                    <button class="dentist-card">
                        <img
                                src="/static/images/dentist6.png"
                                alt="Martik Hartoonian"
                                class="dentist-image"
                        />
                        <h3 class="dentist-name">Martik Hartoonian</h3>
                        <p class="dentist-title">General Dentist</p>
                    </button>
                </div>
                <!-- dentist Card 7 -->
                <div
                        class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center"
                >
                    <button class="dentist-card">
                        <img
                                src="/static/images/dentist7.png"
                                alt="Urfa Dehbashyan"
                                class="dentist-image"
                        />
                        <h3 class="dentist-name">Urfa Dehbashyan</h3>
                        <p class="dentist-title">General Dentist</p>
                    </button>
                </div>
                <!-- dentist Card 8 -->
                <div
                        class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center"
                >
                    <button class="dentist-card">
                        <img
                                src="/static/images/dentist8.png"
                                alt="Petros Yeranosyan"
                                class="dentist-image"
                        />
                        <h3 class="dentist-name">Petros Yeranosyan</h3>
                        <p class="dentist-title">General Dentist</p>
                    </button>
                </div>
                <!-- dentist Card 9 -->
                <div
                        class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center"
                >
                    <button class="dentist-card">
                        <img
                                src="/static/images/dentist9.png"
                                alt="Mariam Aleqyan"
                                class="dentist-image"
                        />
                        <h3 class="dentist-name">Mariam Aleqyan</h3>
                        <p class="dentist-title">Administrator</p>
                    </button>
                </div>
                <!-- dentist Card 10 -->
                <div
                        class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center"
                >
                    <button class="dentist-card">
                        <img
                                src="/static/images/dentist10.png"
                                alt="Mariam Karavardanyan"
                                class="dentist-image"
                        />
                        <h3 class="dentist-name">Mariam Karavardanyan</h3>
                        <p class="dentist-title">Dental assistant</p>
                    </button>
                </div>
                <!-- dentist Card 11 -->
                <div
                        class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center"
                >
                    <button class="dentist-card">
                        <img
                                src="/static/images/dentist11.png"
                                alt="Lena Harutyunyan"
                                class="dentist-image"
                        />
                        <h3 class="dentist-name">Lena Harutyunyan</h3>
                        <p class="dentist-title">Dental assistant</p>
                    </button>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/dentistry.js' %}"></script>
{% endblock %}}