{% extends "base.html" %}

{% block title %}Plastic Surgery{% endblock %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/plastic-surgery.css' %}" />

{% endblock %}


{% block body %}

    <main>
      <!-- Plastic Surgery Section -->
      <section class="services my-5">
        <div class="container">
          <h2 class="text-center">Plastic Surgery</h2>

          <div class="services-list">
            <!-- Plastic Surgery Services -->

            <a
              href="/plastic-surgery/face-lift"
              class="service-button"
              style="text-decoration: none; color: inherit"
            >
              <img
                src="/static/images/face-lift.png"
                alt="Face Lift Surgery"
                class="service-icon"
              />
              <h3>Face Lift Surgery</h3>
              <p>
                Operational interventions for the purpose of face
                rejuvenation...
              </p>
            </a>

            <a
              href="/plastic-surgery/blepharoplasty"
              class="service-button"
              style="text-decoration: none; color: inherit"
            >
              <img
                src="/static/images/blepharoplasty.png"
                alt="Blepharoplasty"
                class="service-icon"
              />
              <h3>Blepharoplasty</h3>
              <p>
                Plastic surgery on eyelids is a popular cosmetic
                reconstructive...
              </p>
            </a>

            <a
              href="/plastic-surgery/rhinoplasty"
              class="service-button"
              style="text-decoration: none; color: inherit"
            >
              <img
                src="/static/images/rhinoplasty.png"
                alt="Rhinoplasty"
                class="service-icon"
              />
              <h3>Rhinoplasty</h3>
              <p>
                Operational interventions for the purpose of face
                rejuvenation...
              </p>
            </a>

            <a
              href="/plastic-surgery/liposuction"
              class="service-button"
              style="text-decoration: none; color: inherit"
            >
              <img src="/static/images/liposuction.png" alt="Liposuction
              class="service-icon" />
              <h3>Liposuction</h3>
              <p>
                Liposuction, or simply lipo, is a type of fat removal
                procedure used in plastic surgery....
              </p>
            </a>

            <a
              href="/plastic-surgery/abdominoplasty"
              class="service-button"
              style="text-decoration: none; color: inherit"
            >
              <img
                src="/static/images/abdominoplasty.png"
                alt="Abdominoplasty"
                class="service-icon"
              />
              <h3>Abdominoplasty</h3>
              <p>
                Abdominoplasty is one of the most popular plastic surgeries in
                the...
              </p>
            </a>

            <a
              href="/plastic-surgery/mamoplasty"
              class="service-button"
              style="text-decoration: none; color: inherit"
            >
              <img
                src="/static/images/mamoplasty.png"
                alt="Mamoplasty"
                class="service-icon"
              />
              <h3>Mamoplasty</h3>
              <p>
                Tender skin of breasts in time over-stretches and gradually
                loses its...
              </p>
            </a>

            <a
              href="/plastic-surgery/lip"
              class="service-button"
              style="text-decoration: none; color: inherit"
            >
              <img
                src="/static/images/lip-plasty.png"
                alt="Lip Plasty"
                class="service-icon"
              />
              <h3>Lip Plasty</h3>
              <p>
                Operational interventions for the purpose of face rejuvenation
                are being carried out for ...
              </p>
            </a>

            <a
              href="/plastic-surgery/brachioplasty"
              class="service-button"
              style="text-decoration: none; color: inherit"
            >
              <img
                src="/static/images/brachioplasty.png"
                alt="Brachioplasty"
                class="service-icon"
              />
              <h3>Brachioplasty</h3>
              <p>
                Arm lift, arm dermolipectomy, or brachioplasty all refer to the
                ...
              </p>
            </a>

            <a
              href="/plastic-surgery/lipofilling"
              class="service-button"
              style="text-decoration: none; color: inherit"
            >
              <img
                src="/static/images/lipofilling.png"
                alt="Lipofilling"
                class="service-icon"
              />
              <h3>Lipofilling</h3>
              <p>
                Lipofilling, also known as fat grafting or autologous fat
                transfer...
              </p>
            </a>
          </div>
        </div>
      </section>
    </main>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/plastic-surgery.js' %}"></script>
{% endblock %}